Reference section problem with sub-sections

In https://github.com/riboseinc/rfc-crypto-sm3 , there is a section called "References".

Right now, the XML references are just put directly in that section. However, the `idnits` tool requires the section to have two sub-sections, "Normative References" and "Informative References".

It is like this now:
```
= References

++++
... xml ...
++++
```

And `idnits` complaints about this:
```
  -- Missing reference section? 'RFC6150' on line 806 looks like a reference
```

The problem is if I change to this, the XML generated doesn't work with `xml2rfc`:

```
= References

== Informative References
++++
... xml ...
++++
```

Then `xml2rfc` complains like this:
```
 <string>: Line 78: IDREF attribute target references an unknown ID "ISO.IEC.10118-3"
```

@opoudjis could you help fix this? Thanks!

Btw I think this is the only blocker that stops us from submitting a generated RFC XML to IETF!

I can't replicate the issue. I made everything an informative reference; and recall that I added ISO.IEC.10118-3, which had been missing from your references.

I get the following outputs:

````
xml2rfc --text draft-oscca-cfrg-sm3.xml draft-oscca-cfrg-sm3.txt
Parsing file draft-oscca-cfrg-sm3.xml
WARNING: artwork outdented 2 characters to avoid overrunning right margin around input line 571)
WARNING: artwork outdented 2 characters to avoid overrunning right margin around input line 577)
WARNING: artwork outdented 2 characters to avoid overrunning right margin around input line 589)
WARNING: artwork outdented 2 characters to avoid overrunning right margin around input line 600)
WARNING: artwork outdented 2 characters to avoid overrunning right margin around input line 683)
WARNING: artwork outdented 2 characters to avoid overrunning right margin around input line 688)
WARNING: artwork outdented 2 characters to avoid overrunning right margin around input line 694)
WARNING: artwork outdented 2 characters to avoid overrunning right margin around input line 701)
WARNING: artwork outdented 2 characters to avoid overrunning right margin around input line 713)
WARNING: artwork outdented 3 characters to avoid overrunning right margin around input line 724)
WARNING: artwork outdented 2 characters to avoid overrunning right margin around input line 807)
WARNING: artwork outdented 2 characters to avoid overrunning right margin around input line 819)
WARNING: artwork outdented 2 characters to avoid overrunning right margin around input line 830)
WARNING: artwork outdented 2 characters to avoid overrunning right margin around input line 914)
WARNING: no <xref> in <rfc> targets <reference anchor='NIST.FIPS.180-1'>
WARNING: no <xref> in <rfc> targets <reference anchor='NIST.FIPS.180-2'>
WARNING: no <xref> in <rfc> targets <reference anchor='NIST.FIPS.202'>
WARNING: no <xref> in <rfc> targets <reference anchor='BOTAN'>
WARNING: no <xref> in <rfc> targets <reference anchor='OPENSSL'>
Created file draft-oscca-cfrg-sm3.txt
````

````
idnits --verbose draft-oscca-cfrg-sm3.txt
idnits 2.15.00 


draft-oscca-cfrg-sm3.txt:
draft-oscca-cfrg-sm3.txt(487): Possible code comment in line:                     #1 m            #2  #3       #4 L.

  Checking boilerplate required by RFC 5378 and the IETF Trust (see
  https://trustee.ietf.org/license-info):
  ----------------------------------------------------------------------------

     No issues found here.

  Checking nits according to https://www.ietf.org/id-info/1id-guidelines.txt:
  ----------------------------------------------------------------------------

  == Mismatching filename: the document gives the document name as
     'draft-oscca-cfrg-sm3-02', but the file name used is 'draft-oscca-cfrg-sm3'


  Checking nits according to https://www.ietf.org/id-info/checklist :
  ----------------------------------------------------------------------------

     No issues found here.

  Miscellaneous warnings:
  ----------------------------------------------------------------------------

  == Couldn't figure out when the document was first submitted -- there may
     comments or warnings related to the use of a disclaimer for pre-RFC5378
     work that could not be issued because of this.  Please check the Legal
     Provisions document at https://trustee.ietf.org/license-info to determine
     if you need the pre-RFC5378 disclaimer.

  -- The document date (October 30, 2017) is 4 days in the past.  Is this
     intentional?

  -- Found something which looks like a code comment -- if you have code
     sections in the document, please surround them with '<CODE BEGINS>' and
     '<CODE ENDS>' lines.


  Checking references for intended status: Informational
  ----------------------------------------------------------------------------

  == Unused Reference: 'BOTAN' is defined on line 753, but no explicit
     reference was found in the text
     '[BOTAN]    Lloyd, J., "Botan: Crypto and TLS for C++11", October 201...'

  == Unused Reference: 'OPENSSL' is defined on line 799, but no explicit
     reference was found in the text
     '[OPENSSL]  OpenSSL Software Foundation, "OpenSSL: Cryptography and S...'


     Summary: 0 errors (**), 0 flaws (~~), 4 warnings (==), 2 comments (--).
````

The possible code comment complaint is about artwork, so nothing worth writing home about.

This looks good to go as is. idnits does not seem to have been updated radically for v2 or v3, but it is processing the text document without much bother.

I will however run idnits over all the xml2rfc output of the sample files.

Oh I realized this now -- you need to have the following.

```
= References

== Normative References
++++
...
++++

== Informative References
++++
...
++++
```

@opoudjis I've pushed the commit that makes my ideal references structure:

```
[bibliography]
= References

== Normative References

//bibliography::norm[]

== Informative References

//bibliography::info[]
++++
<reference anchor='GMT-0004-2012' target='http://www.oscca.gov.cn/Column/Column_32.htm'>
  <front>
...
```

Now I'm seeing these errors from `make`

```
bundle exec asciidoctor -r asciidoctor-rfc -b rfc2 draft-oscca-cfrg-sm3.adoc --trace > draft-oscca-cfrg-sm3.xml
asciidoctor: WARNING: references are not raw XML: section
asciidoctor: WARNING: references are not raw XML: section
element xref: validity error : IDREF attribute target references an unknown ID "RFC6150"
element xref: validity error : IDREF attribute target references an unknown ID "SM3-Details"
element xref: validity error : IDREF attribute target references an unknown ID "SM3-Details"
element xref: validity error : IDREF attribute target references an unknown ID "GBT.32905-2016"
element xref: validity error : IDREF attribute target references an unknown ID "GBT.32905-2016"
element xref: validity error : IDREF attribute target references an unknown ID "GBT.32905-2016"
element xref: validity error : IDREF attribute target references an unknown ID "GBT.32905-2016"
element xref: validity error : IDREF attribute target references an unknown ID "GBT.32905-2016"
element xref: validity error : IDREF attribute target references an unknown ID "GBT.32905-2016"
element xref: validity error : IDREF attribute target references an unknown ID "SM3"
element xref: validity error : IDREF attribute target references an unknown ID "OSCCA"
element xref: validity error : IDREF attribute target references an unknown ID "OSCCA"
element xref: validity error : IDREF attribute target references an unknown ID "OSCCA"
element xref: validity error : IDREF attribute target references an unknown ID "OSCCA"
element xref: validity error : IDREF attribute target references an unknown ID "GMT-0004-2012"
element xref: validity error : IDREF attribute target references an unknown ID "GMT-0004-2012"
element xref: validity error : IDREF attribute target references an unknown ID "GMT-0004-2012"
element xref: validity error : IDREF attribute target references an unknown ID "GMT-0004-2012"
element xref: validity error : IDREF attribute target references an unknown ID "SM3-Boomerang"
element xref: validity error : IDREF attribute target references an unknown ID "RFC6234"
element xref: validity error : IDREF attribute target references an unknown ID "ISO.IEC.10118-3"
element xref: validity error : IDREF attribute target references an unknown ID "ISO.IEC.10118-3"
element xref: validity error : IDREF attribute target references an unknown ID "ISO.IEC.10118-3"
element xref: validity error : IDREF attribute target references an unknown ID "NIST.FIPS.180-4"
element xref: validity error : IDREF attribute target references an unknown ID "WXY"
element xref: validity error : IDREF attribute target references an unknown ID "RFC2119"
V2 RELAXNG Validation: 499:0: ERROR: Expecting an element , got nothing
xml2rfc --text draft-oscca-cfrg-sm3.xml draft-oscca-cfrg-sm3.txt
Parsing file draft-oscca-cfrg-sm3.xml
ERROR: Unable to validate the XML document: draft-oscca-cfrg-sm3.xml
 <string>: Line 499: Element references content does not follow the DTD, expecting (reference)+, got nothing.
 <string>: Line 111: IDREF attribute target references an unknown ID "SM3"
 <string>: Line 78: IDREF attribute target references an unknown ID "GBT.32905-2016"
 <string>: Line 103: IDREF attribute target references an unknown ID "GBT.32905-2016"
 <string>: Line 105: IDREF attribute target references an unknown ID "GBT.32905-2016"
 <string>: Line 114: IDREF attribute target references an unknown ID "GBT.32905-2016"
 <string>: Line 116: IDREF attribute target references an unknown ID "GBT.32905-2016"
 <string>: Line 485: IDREF attribute target references an unknown ID "GBT.32905-2016"
 <string>: Line 78: IDREF attribute target references an unknown ID "ISO.IEC.10118-3"
 <string>: Line 114: IDREF attribute target references an unknown ID "ISO.IEC.10118-3"
 <string>: Line 462: IDREF attribute target references an unknown ID "ISO.IEC.10118-3"
 <string>: Line 110: IDREF attribute target references an unknown ID "WXY"
 <string>: Line 109: IDREF attribute target references an unknown ID "SM3-Details"
 <string>: Line 382: IDREF attribute target references an unknown ID "SM3-Details"
 <string>: Line 112: IDREF attribute target references an unknown ID "GMT-0004-2012"
 <string>: Line 456: IDREF attribute target references an unknown ID "GMT-0004-2012"
 <string>: Line 457: IDREF attribute target references an unknown ID "GMT-0004-2012"
 <string>: Line 458: IDREF attribute target references an unknown ID "GMT-0004-2012"
 <string>: Line 491: IDREF attribute target references an unknown ID "RFC6234"
 <string>: Line 92: IDREF attribute target references an unknown ID "RFC6150"
 <string>: Line 92: IDREF attribute target references an unknown ID "NIST.FIPS.180-4"
 <string>: Line 94: IDREF attribute target references an unknown ID "SM3-Boomerang"
 <string>: Line 79: IDREF attribute target references an unknown ID "OSCCA"
 <string>: Line 111: IDREF attribute target references an unknown ID "OSCCA"
 <string>: Line 483: IDREF attribute target references an unknown ID "OSCCA"
 <string>: Line 486: IDREF attribute target references an unknown ID "OSCCA"
 <string>: Line 143: IDREF attribute target references an unknown ID "RFC2119"
make: *** [draft-oscca-cfrg-sm3.txt] Error 1
```

I'm modifying the code to deal with this, but it's not going to make a difference: RFC XML v2 and v3 both make Normative References and Informative References children of `<back>`, and there is no notion in the XML of either being a subsection.

Now the document is like this:

```
= References

[bibliography]
== Normative References

[bibliography]
== Informative References

++++
```

But despite the latest changes, I'm still seeing this:

```
ERROR: Unable to validate the XML document: draft-oscca-cfrg-sm3.xml
 <string>: Line 500: Element section content does not follow the DTD, expecting ((t | figure | texttable | iref)* , section*), got (back)
 <string>: Line 517: Element reference content does not follow the DTD, expecting (front , seriesInfo* , format* , annotation*), got (front seriesinfo seriesinfo seriesinfo)
```

The generated XML becomes:
```xml
<section anchor="_references" title="References">
  <back>
<references title="Informative References">
  <reference anchor="...
```

If we can take the `<references>` sections directly back to the `rfc/back` level then it should be all fixed 😄 

ugh. I have fixed the gem to deal with that, but yeah, I'm changing the document back to separate sections; the output is the same anyway.

New bug with section nesting. 

False alarm: good to go.