Support normative vs non-normative citations

Just like MMark, we have to separate normative vs non-normative citations.
https://github.com/miekg/mmark/wiki/Syntax#citations

* Informative (default) `[@RFC1234]`
* Informative `[@?RFC1234]`
* Normative `[@!RFC1234]`
* Add to bib but do not show cite `[-@RFC1234]`

Using a higher modifier such as first citing as informative then 'upgrading' to normative would treat the reference as normative in the bibliography.

cc: @paolobrasolin would this be for asciidoctor-bibliography?

Asciidoctor natively does not differentiate cross-references; if you want them to be rendered differently, it would have to be in postprocessing, iterating through the anchors in the informative and the non-informative sections.

But neither v2 nor v3 RFC XML differentiate xref according to what type of citation they are either; they only differentiate formats. What sort of RFC XML output do you have in mind, @ronaldtse? 

RFC 7991 section 2.42 specifies that there are separate normative and informative references, they should be in separate reference groups. 

I'm sure @paolobrasolin has some idea on splitting the citations?

Our https://github.com/riboseinc/asciidoctor-bibliography gem supports citations with options. 

Perhaps we can:
* in the asciidoctor-bibliography gem, create a syntax for "reference group" to allow separate bibliography sections
* in the asciidoctor-rfc gem, layer on top of the asciidoctor-bibliography gem to support normative vs informative references
* in the asciidoctor-rfc gem, create a shorthand for 'rfc-bibliography' that prints out the two bibliography sections.

What do you think?

For the time being, [@ and [@! are both being rendered in the Asciidoctor as << , and I continue to think that by far the simplest solution is simply to break up normative and informative references in the bibliography, as two separate listings. (I mean, why wouldn't you to begin with? That's how they're going to end up rendered in the XML, after all.) The cross-references themselves don't look any different in RFC 7991: they are still <xref target=""> whether the target is normative or informative.

If you want to emulate a distinction between [@ and [@!  in Asciidoctor, then I'm happy to put the distinction back in once Paolo comes up with a suitable macro; but the xrefs *still* won't look any different, unless you actually choose to render them differently, using a different format attribute.

Implemented

@opoudjis had the README been updated according to this change? We will still want some system to manage non-manual XMLs because inside an RFC document it is quite annoying to have to download every RFC/ID reference one by one before citing them. 

Well, by "implemented", I meant that the asciidoctor-bibliography gem differentiates cite:norm[] and cite:info[], so the requested behaviour has happened. 

Could you elaborate on the managing of non-manual XMLs?