Supporting rfcbibxml via asciidoctor-bibliography: BibTeX, CSL, something else?

In [RFC 7991](https://tools.ietf.org/html/rfc7991#section-2.40) and [RFC 7749](https://tools.ietf.org/html/rfc7749#section-2.19) the `<reference>` element is defined.

For simplicity let's call this "`rfcbibxml`".

It would be great if `rfcbibxml` is a counterpart of BibTeX or CSL, but it contains potentially more information (7991):

* One `<front>` element (Section 2.26), which contains:
   * One `<title>` element (Section 2.60)
   * Optional `<seriesInfo>` elements (Section 2.47)
   * One or more `<author>` elements (Section 2.7)
   * One optional `<date>` element (Section 2.17)
   * Optional `<area>` elements (Section 2.4)
   * Optional `<workgroup>` elements (Section 2.65)
   * Optional `<keyword>` elements (Section 2.28)
   * One optional `<abstract>` element (Section 2.1)
   * Optional `<note>` elements (Section 2.33)
   * One optional `<boilerplate>` element (Section 2.11)

* In any order: 
  * `<annotation>` elements (Section 2.3)
  * `<format>` elements (Section 3.3)
  * `<refcontent>` elements (Section 2.39)
  * `<seriesInfo>` elements (Section 2.47; deprecated in this context)
* attributes: anchor, quoteTitle, target

There is a script that converts BibTeX entries into `rfcbibxml` but the data cannot be complete, especially since each author could have different organization associations. CSL does not seem to support this model either.

How can we support this sort of input / output without resorting to manual XML (MMark is manual too)?

A sample of this format from: https://xml2rfc.tools.ietf.org/public/rfc/bibxml3/reference.I-D.draft-openpgp-oscca-02.xml

```xml
<reference anchor="I-D.openpgp-oscca">
<front>
<title>OSCCA Extensions For OpenPGP</title>
<author initials="R" surname="Tse" fullname="Ronald Tse">
<organization/>
</author>
<author initials="W" surname="Wong" fullname="Wai Wong">
<organization/>
</author>
<author initials="J" surname="Lloyd" fullname="Jack Lloyd">
<organization/>
</author>
<author initials="D" surname="Wyatt" fullname="Daniel Wyatt">
<organization/>
</author>
<author initials="E" surname="Borsboom" fullname="Erick Borsboom">
<organization/>
</author>
<date month="September" day="13" year="2017"/>
<abstract>
<t>
This document enables OpenPGP (RFC4880) usage in an compliant manner with OSCCA regulations for use within China. Specifically, it extends OpenPGP to support the usage of SM2, SM3 and SM4 algorithms, and provides the OSCCA-compliant OpenPGP profile "OSCCA-SM234".
</t>
</abstract>
</front>
<seriesInfo name="Internet-Draft" value="draft-openpgp-oscca-02"/>
<format type="TXT" target="http://www.ietf.org/internet-drafts/draft-openpgp-oscca-02.txt"/>
</reference>
```


Thoughts @paolobrasolin ?

Ping @paolobrasolin 

This work is now handled by Relaton (https://github.com/riboseinc/relaton), the data model for ISO 690.

The task is now about integrating Relaton with Metanorma-RFC.
